/* Creating standard font styles for the document */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Styling the form textarea to be transparent and fit within the parent div */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: inherit;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

/* Styling the jumbotron in the header*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Adding space to the bottom on the timeblock wrapper */
.timeBlockWrapper {
  margin-bottom: 20px;
}

/* Creating default style for the form divs */
form {
  padding: 0;
  background-color: grey;
  border-top: 1px solid white;
}

/* Centering text and making rounded corners */
.time-block{
  text-align: center;
  border-radius: 15px;
}

/* Making all row elements line up and have a white border at the top */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/* Standard color styles for hour blocks */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Shiting time text to the right of the div */
.hour p {
  text-align: right;
}

/* Styling and position div that contains the save button */
.saveBtn {
  background-color: #06AED5;
  border: none;
  color: white;
  padding-left: 17px;
}

/* Styling save button div */
.saveBtnBackground {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  border-top: 1px solid white;
}

/* Increases font size when mouse hovers over the icon */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
